BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 4
ColumnLimit: 100

IndentCaseLabels: true
BreakBeforeBraces: Allman

BinPackParameters: false
BinPackArguments: false 

AllowShortFunctionsOnASingleLine: false
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments: false
AllowShortIfStatementsOnASingleLine: false
SortIncludes: false
