BasedOnStyle: LLVM
IndentWidth: 4
BinPackParameters: false
BinPackArguments: false 
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: true
SortIncludes: false
